<section>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Wall</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" placeholder="Write on the wall"></textarea>
            </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i> Text</button>
                <button type="button" class="btn btn-default"><i class="fa fa-camera" aria-hidden="true"></i> Image</button>
                <button type="button" class="btn btn-default"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="panel panel-default post">
        <div class="panel-body">
          <div class="row">

            <div class="col-sm-2">
              <a class="post-avatar thumbnail" href="profile"><%= image_tag("user.png") %><div class="text-center">DevUser1</div></a>
              <div class="likes text-center">7 likes</div>
            </div><!--col 2 end -->

            <div class="col-sm-10">

              <div class="bubble">
                <div class="pointer">
                  <p>
                    Sed et odio a erat eleifend rhoncus nec ut risus. Quisque cursus rhoncus sagittis. Suspendisse dapibus a quam nec pulvinar. Nam ac laoreet massa, posuere commodo lorem. Nam neque dui, molestie feugiat elit sed, ultricies pellentesque mauris. Nunc porttitor ex ante, a euismod lorem facilisis laoreet.
                  </p>
                </div>
                <div class="pointer-border"></div>
              </div><!-- bubble div end -->

              <p class="post-actions"><a href="#">Comment</a> - <a href="#">Like</a> - <a href="#">Follow</a> - <a href="#">Share</a></p>

              <div class="comment-form">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter Comment">
                  </div>
                  <button type="submit" class="btn btn-default">Add</button>
                </form>
              </div><!--comment form end-->

              <div class="clearfix"></div>

              <div class="comments">
                <div class="comment">
                  <a class="comment-avatar pull-left" href="#"><%= image_tag("user.png") %></a>
                  <div class="comment-text">
                    <p>
                      Aliquam accumsan augue leo, eu dapibus lectus scelerisque posuere. Suspendisse ante diam, lacinia sit amet laoreet et, faucibus nec urna.
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>

                <div class="comment">
                  <a class="comment-avatar pull-left" href="#"><%= image_tag("user.png") %></a>
                  <div class="comment-text">
                    <p>
                      Aliquam accumsan augue leo, eu dapibus lectus scelerisque posuere. Suspendisse ante diam, lacinia sit amet laoreet et, faucibus nec urna.
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default post">
        <div class="panel-body">
          <div class="row">

            <div class="col-sm-2">
              <a class="post-avatar thumbnail" href="profile.html"><%= image_tag("user.png") %><div class="text-center">DevUser2</div></a>
              <div class="likes text-center">7 likes</div>
            </div><!--col 2 end -->

            <div class="col-sm-10">

              <div class="bubble">
                <div class="pointer">
                  <p>
                    Sed et odio a erat eleifend rhoncus nec ut risus. Quisque cursus rhoncus sagittis. Suspendisse dapibus a quam nec pulvinar. Nam ac laoreet massa, posuere commodo lorem. Nam neque dui, molestie feugiat elit sed, ultricies pellentesque mauris. Nunc porttitor ex ante, a euismod lorem facilisis laoreet.
                  </p>
                </div>
                <div class="pointer-border"></div>
              </div><!-- bubble div end -->

              <p class="post-actions"><a href="#">Comment</a> - <a href="#">Like</a> - <a href="#">Follow</a> - <a href="#">Share</a></p>

              <div class="comment-form">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter Comment">
                  </div>
                  <button type="submit" class="btn btn-default">Add</button>
                </form>
              </div><!--comment form end-->

              <div class="clearfix"></div>

              <div class="comments">
                <div class="comment">
                  <a class="comment-avatar pull-left" href="#"><%= image_tag("user.png") %></a>
                  <div class="comment-text">
                    <p>
                      Aliquam accumsan augue leo, eu dapibus lectus scelerisque posuere. Suspendisse ante diam, lacinia sit amet laoreet et, faucibus nec urna.
                    </p>
                  </div>
                </div>
                <div class="clear-fix"></div>

                <div class="comment">
                  <a class="comment-avatar pull-left" href="#"><%= image_tag("user.png") %></a>
                  <div class="comment-text">
                    <p>
                      Aliquam accumsan augue leo, eu dapibus lectus scelerisque posuere. Suspendisse ante diam, lacinia sit amet laoreet et, faucibus nec urna.
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default post">
        <div class="panel-body">
          <div class="row">

            <div class="col-sm-2">
              <a class="post-avatar thumbnail" href="profile.html"><%= image_tag("user.png") %><div class="text-center">DevUser3</div></a>
              <div class="likes text-center">7 likes</div>
            </div><!--col 2 end -->

            <div class="col-sm-10">

              <div class="bubble">
                <div class="pointer">
                  <p>
                    Sed et odio a erat eleifend rhoncus nec ut risus. Quisque cursus rhoncus sagittis. Suspendisse dapibus a quam nec pulvinar. Nam ac laoreet massa, posuere commodo lorem. Nam neque dui, molestie feugiat elit sed, ultricies pellentesque mauris. Nunc porttitor ex ante, a euismod lorem facilisis laoreet.
                  </p>
                </div>
                <div class="pointer-border"></div>
              </div><!-- bubble div end -->

              <p class="post-actions"><a href="#">Comment</a> - <a href="#">Like</a> - <a href="#">Follow</a> - <a href="#">Share</a></p>

              <div class="comment-form">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter Comment">
                  </div>
                  <button type="submit" class="btn btn-default">Add</button>
                </form>
              </div><!--comment form end-->

              <div class="clearfix"></div>

              <div class="comments">
                <div class="comment">
                  <a class="comment-avatar pull-left" href="#"><%= image_tag("user.png") %></a>
                  <div class="comment-text">
                    <p>
                      Aliquam accumsan augue leo, eu dapibus lectus scelerisque posuere. Suspendisse ante diam, lacinia sit amet laoreet et, faucibus nec urna.
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>

                <div class="comment">
                  <a class="comment-avatar pull-left" href="#"><%= image_tag("user.png") %></a>
                  <div class="comment-text">
                    <p>
                      Aliquam accumsan augue leo, eu dapibus lectus scelerisque posuere. Suspendisse ante diam, lacinia sit amet laoreet et, faucibus nec urna.
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div><!--column 8 end-->
    <div class="col-md-4">
      <%= render 'layouts/friendsAndGroups' %>
    </div>
  </div>
</div>

</section>