<section>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="members">
        <h1 class="page-header">Members</h1>
        
        <div class="row member-row">
          <div class="col-md-3">
            <a class="thumbnail" href="profile.html"><%= image_tag("user.png") %></a>
            <div class="text-center">SomeUser01</div>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Friend Request</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
          </div>
        </div>
        
        <div class="row member-row">
          <div class="col-md-3">
            <a class="thumbnail" href="profile.html"><%= image_tag("user.png") %></a>
            <div class="text-center">SomeUser02</div>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Friend Request</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
          </div>
        </div>
        
        <div class="row member-row">
          <div class="col-md-3">
            <a class="thumbnail" href="profile.html"><%= image_tag("user.png") %></a>
            <div class="text-center">SomeUser03</div>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Friend Request</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
          </div>
        </div>

        <div class="row member-row">
          <div class="col-md-3">
            <a class="thumbnail" href="profile.html"><%= image_tag("user.png") %></a>
            <div class="text-center">SomeUser04</div>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Friend Request</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
          </div>
        </div>
      </div>
    </div><!--column 8 end-->
    <div class="col-md-4">
      <%= render 'layouts/friendsAndGroups' %>
    </div>
  </div>
</div>

</section>