<section>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header">Photos</h1>
      <ul class="photos gallery-parent" >
        <li><a href="sample1.jpg" data-title="image 1" data-footer="This is image 1" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 1"><%= image_tag("sample1.jpg") %></a></li>

        <li><a href="sample2.jpg" data-title="image 2" data-footer="This is image 2" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 2"><%= image_tag("sample2.jpg") %></a></li>

        <li><a href="../img/sample3.jpg" data-title="image 3" data-footer="This is image 3" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 3"><%= image_tag("sample3.jpg") %></a></li>

        <li><a href="../img/sample4.jpg" data-title="image 4" data-footer="This is image 4" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 4"><%= image_tag("sample4.jpg") %></li>

        <li><a href="../img/sample5.jpg" data-title="image 5" data-footer="This is image 5" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 5"><%= image_tag("sample5.jpg") %></a></li>

        <li><a href="../img/sample6.jpg" data-title="image 6" data-footer="This is image 6" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 6"><%= image_tag("sample6.jpg") %></a></li>
      </ul>
    </div><!--column 8 end-->
    <div class="col-md-4">
      <%= render 'layouts/friendsAndGroups' %>
    </div>
  </div>
</div>

</section>